<!DOCTYPE html>
<html lang="en">
<head>
    <title>Message Sender</title>
    <style>
        body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
        label{font-size: 16px;text-transform: uppercase; letter-spacing: 2px;text-align: center;}
        form{font-size: 16px;text-transform: uppercase; letter-spacing: 2px;text-align: center;}    
    </style>
   
</head>
<body>
        
        <form  action="/sendMessage" method="post">
        <div class="form-group">
       
         <label for="number"   > Enter Number</label >
            <input type="text" id="number" , name="number" >
           
        <div class="form-group">
            <label for="message" > Enter message</label>
            <input type="text" id="message" , name="message">
            
        </div>
        <input type="submit" value="Send message">
       
       </form > 
</body>
</html>